@font-face {
  font-family: "Roboto";
  src: url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
}

:root {
  --mia-color-primary: #575757;
  --mia-color-secondary: #120E0A;
  --mia-color-tertiary: #ECECE9;
}


* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

.logo {
  display: flex;
  gap: 15px;
  width: 20%;
  align-items: center;
  /* background-color: red; */
}

header img {
  height: 80px;
}

ul {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  /* background-color: yellow; */
  align-items: center;
}

body {
  background-color: var(--mia-color-tertiary);
background-image: url(https://res.cloudinary.com/df5ikz1ro/image/upload/v1702363071/imagehomepage_xyliy2.png);
min-height: 100vh;
}

button {
border-radius: 5%;
width: 80px;
cursor: pointer;
}

.log-in {
  border: #575757;
  border-style: solid;
  border-width: 1px;
  color: #575757;
}

.sign-up {
  background-color: #575757;
  color: #ECECE9;
  border-width: 1px;
  border: #575757;
  border-style: solid;
  border-width: 1px;
  font-weight: 500;
}

.user {
  width: 20%;
  align-items: center;
}

.shortcut {
  width: 60%;
  font-weight: 100;
  font-size: 20px;
  cursor: pointer;
/*   background-color: red; */
}

.shop {
justify-content: space-evenly;
}

.shop button {
  background: none;
  border: none;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 5px;
  gap: 5px;
  height: 70vh;
}

article {
  flex-wrap: wrap;
  max-width: 23%;
  max-height: 40%;
  background-color:#ECECE9
}

article img {
  flex-wrap: wrap;

  
}

.new {
  width: 50%;
}

.inspo {
  width: 50%;
}

h1 {
  font-size: 60px;
  font-weight: 100;
}

h2{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 5vh;
  /* background-color: red; */
  text-align: center;
  font-weight: 100;
  font-size: 24px;
}

h3 {
  width: 100%;
  /* background-color: red; */
  text-align: center;
  font-weight: 100;
  font-size: 14px;
}

header {
  display: flex;
  justify-content: space-evenly;
  padding: 40px;
  height: 10vh;
  background-color: blue;
}

main {
  height: 80vh;
  display: flex;
  background-color: yellow;
}

footer {
  display: flex;
  flex-direction: column;
  height: 10vh;
  justify-content: space-around;
  background-color: red;
  }
footer img {
  width: 40px;
}